.intro {
    width: 100%;
    height: auto;
    margin: 15px auto;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    align-content: center;
}

.logo {
    width: 35%;
    height: auto;
    margin: 20px auto;
    border-radius: 50%;
    flex: 2.5 2 1;
}

.button-container {
    margin: 20px auto;
}